@import "globals";

.about {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: #131313;


    @media screen and (min-width: $MEDIUM) {
        height: 70vh;
    }

    .about-content {
        max-width: 1240px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: $MEDIUM) {
            flex-direction: column;
        }
    }

    .about-text {
        color: $BACKGROUND;
        padding-left: .6rem;
        text-align: left;


        span {
            color: $MAIN_PURPLE;
            font-size: 20px;
            letter-spacing: 2px;
            display: inline-block;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 40px;
            margin-bottom: 30px;
        }

        p {
            line-height: 28px;
            color: rgb(218, 216, 216);
        }
    }

    .about-image {
        img {
            width: 400px;
            height: 400px;
        }
    }

    .link {
        display: inline-block;
        text-decoration: underline;
        margin-top: 2rem;
        cursor: pointer;
    }
}