$BACKGROUND: #ECF0F3;
$MAIN_COLOR: #1F2937;
$MAIN_PURPLE: #5651E5;
$SECOND_PURPLE: #709DFF;
$SHADOW_GRAY_400: #9ca3af;
$FULL_BLACK: #000;

$SMALL: 580px;
$MEDIUM: 768px;
$LARGE: 1024px;
$XL_LARGE: 1280px;
$XL_LARGE2: 1536px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background: $BACKGROUND;
    position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;

}

::-webkit-scrollbar-track {
  
  background-color: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: $MAIN_PURPLE;
  transition: all 2s;
}