@import "globals";

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    z-index: 10;

    .navbar-title {
        font-family: "Great Vibes";
        font-weight: bolder;
        font-size: 2.2rem;
        user-select: none;
        cursor: pointer;
        color: black;
    }
    .navbar-title.open {
        display: inline-block;
        margin: 1.4rem 3rem;
    }

    .navbar-container {
        background: $BACKGROUND;
        width: 100%;
        height: 100%;
        padding: 1.4rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $MAIN_COLOR;
        border-bottom: 1px solid lightgray;

        

        nav {
            display: hidden;
            gap: 30px;

            @media screen and (min-width: $MEDIUM) {
                display: flex;
            }
        }

        .link {
            display: none;

            @media screen and (min-width: $MEDIUM) {
                display: flex;
            }

            cursor: pointer;
            text-decoration: none;
            font-size: 0.95rem;
            transition: all .35s;
        }
        .link:hover {
            scale: 1.05;
            color: rgb(107, 107, 107);
        }
        .icon-toggle {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: $MAIN_COLOR;

            @media screen and (min-width: $MEDIUM) {
                display: none;
            }
        }
    }

    .menu-container.active {
        display: flex;
    }

    .menu-container {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.705);

        .menu {
            right: 0;
        }
    }

    .menu {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        background-color: $BACKGROUND;
        width: 70%;
        transition-duration: .4s;
        transition-timing-function: ease-in;
    }
}

.menu-content {
    padding: 1.4rem 3rem;
    position: relative;
    height: 100%;
    
        .menu-navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .icon-toggle-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 10px 15px -3px $SHADOW_GRAY_400, 0 4px 6px -4px $SHADOW_GRAY_400;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }

    nav {
        margin-top: 50px;
        font-size: 14px;
        display: flex;
        flex-flow: column;
        gap: 40px;

        .link {
            cursor: pointer;
        }
    }

    .menu-text {
        font-size: 17px;
        color: $MAIN_COLOR;
        display: block;
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #d1d5db;
    }

    .menu-contact {
        position: absolute;
        bottom: 20%;

        span {
            color: $MAIN_PURPLE;
            font-size: 18px;
            letter-spacing: 3px;
        }
    }

    .menu-icons {
        margin-top: 20px;
        display: flex;
        gap: 40px;
        align-items: center;
        width: 70%;
        
        .menu-link-icon {
            color: $MAIN_COLOR;
            padding: 0;
        }

        .menu-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 10px 15px -3px $SHADOW_GRAY_400, 0 4px 6px -4px $SHADOW_GRAY_400;
            padding: 9px 12px;
            width: fit-content;
            height: fit-content;
            transition: all .3s;
            cursor: pointer;
        }
        .menu-icon:hover {
            scale: 1.04;
        }
    }

}