@import "globals";

.page {
    width: 100%;

    .page-image {
        width: 100%;
        position: relative;
        height: 50vh;
        color: $BACKGROUND;

        .page-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50vh;
            z-index: 2;
            background-color: rgba(0,0,0, 0.3);
        }
        
        img {
            filter: brightness(0.3);
            -webkit-user-drag: none;
            user-select: none;
            object-fit: cover;
            z-index: 1;
        }

        div {
            position: absolute;
            top: 50%;
            left: 20px;
            z-index: 2;
        
            h2 {
                font-size: 35px;
                margin-bottom: 15px;
            }

            p {
                font-weight: bold;
            }
        }
        
    }

    .page-description {
        margin: 1rem auto;
        padding: 1rem;
        max-width: 1240px;
        color: $MAIN_COLOR;

        @media screen and (min-width: $MEDIUM) {
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        h2 {
            font-size: 35px;
            margin-bottom: 5px;
        }

        .page-description-project {
            margin: 15px 0 20px 0;
            line-height: 25px;
            letter-spacing: .4px;
        }

        .page-description-text {
            .page-description-buttons {
                display: flex;
                gap: 20px;
                margin-top: 10px;


                .page-description-button {
                    background: linear-gradient(to right, $MAIN_PURPLE, $SECOND_PURPLE);
                    color: $BACKGROUND;
                    text-decoration: none;
                    padding: .6rem 1.4rem;
                    border-radius: 8px;
                    transition: all .5s;
                    box-shadow: 4px 15px 25px -5px rgba(0, 0, 0, 0.24), 4px 8px 10px rgba(0, 0, 0, 0.137);
                    margin-bottom: 40px;
                }
                .page-description-button:hover {
                    background: linear-gradient(to right, #4642b9, #5478c5);
                }

            }
            .page-description-link {
                display: inline-block;
                color: black;
            }
        }
        .page-description-techs {
            box-shadow: 0 20px 25px -5px #9ca3af, 0 8px 10px -6px #9ca3af;
            border-radius: 10px;

            @media screen and (max-width: $MEDIUM) { 
                display: flex;
                flex-direction: column;
                width: fit-content;
                margin-top: 33px;
            }

            h4 {
                padding: 2rem 3.5rem 0rem 3.5rem;
            }

            ul {
                margin-top: 18px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 18px;
                padding: 1rem;
                font-size: 14px;
                color: $MAIN_COLOR;
                margin-bottom: 10px;
                
                li {
                    list-style: none;
                    display: flex;
                    gap: 6px;
                }
            }
        }
    }

}

/*
$MAIN_PURPLE: #5651E5;
$SECOND_PURPLE: #709DFF; */